@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ghost_white: #f8f9fa;
  --light_gray: #cfd1d4;
  --philippine_gray: #909091;
  --charleston_green: #292a2a;
  --eerie_black: #181b1e;
  --auburn: #a52a2a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ghost_white: #f8f9fa;
    --light_gray: #cfd1d4;
    --philippine_gray: #909091;
    --charleston_green: #292a2a;
    --eerie_black: #181b1e;
    --auburn: #a52a2a;
  }
}

@font-face {
  font-family: "Albert-Sans";
  src: url("./fonts/AlbertSans-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kyiv-Region";
  src: url("./fonts/KyivRegion-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--ghost_white);
  background: var(--eerie_black);
  font-family: Albert-Sans, sans-serif;
}

@layer utilities {
  .font-kyiv {
    font-family: "Kyiv-Region", sans-serif;
  }
  .text-balance {
    text-wrap: balance;
  }
  .animation-pause {
    animation-play-state: paused;
  }
}
